pyrogram==2.0.106
tgcrypto
redis
requests
yt-dlp
youtube-search
pytz
hijri-converter
kvsqlite
pillow
mutagen
aiohttp
aiofiles
python-arq
meval==2.5
httpx[http2]
psutil
cpuinfo
pytube
shazamio
telegraph
SpeechRecognition
pydub
gTTS
ffprobe
